//COLORS

$color-pink-primary: #eb2f64;
$color-pink-primary-light: #ff3366;
$color-pink-primary-dark: #ba265d;

$color-Grey-light-1: #faf9f9;
$color-Grey-light-2: #f4f2f2;
$color-Grey-light-3: #f0eeee;
$color-Grey-light-4: #ccc;

$color-Grey-dark-1: #333;
$color-Grey-dark-2: #777;
$color-Grey-dark-3: #999;

$color-black: #000;
$color-white: #fff;

$boxshadow-small: 0 1rem 4rem rgba(0, 0, 0, 0.25);
$boxshadow-verylight: 0 2rem 5rem rgba(0, 0, 0, 0.07);
$boxshadow-big: 0 2rem 6rem rgba(0, 0, 0, 0.3);

$border-bottom-small: 1px solid $color-Grey-light-2;